body{
    text-align: center;
    border-style: inset;
    border-width:50px;
    border-color: whitesmoke;
}
h3{
    color:orangered;
    font-family: 'Sansita Swashed', cursive; ;
}
.hash{
    border-style: solid;
    border-color: powderblue;
    background-color: rosybrown;
    font-family: 'Inconsolata', monospace;
    color: palegreen;
    
}
.fact{
    color:red;
    background-color: lawngreen;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.yump{
color: lightseagreen;
}
.akdu{
    color: maroon;
    font-weight: 700;
}
#weight{
    background-color: mediumvioletred;
}
.yes{
    font-family: 'Chilanka', cursive;
}